{% extends "default/module.html.jinja2" %}
{% block nav_title %}
<h1 style="color: #1772d0;">lib_bilagrid.py</h1>
<a style="color: #1772d0;" href="https://github.com/yuehaowang/bilarf">
    <img src="https://img.shields.io/badge/View_on_Github-blue?style=for-the-badge&logo=github" />
</a>
{% endblock %}

{% macro inherited(cls) %}{% endmacro %}
